@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The 96 Collections Maltese Cross Bracelets</h1>
    <p>Find a fine selection of Maltese Cross Hand made Bracelets. Produced by the Maltese, for the World</p>
</div>
