@model cloudscribe.Pagination.Models.PagedResult<ShoppingCart.Application.ViewModels.ProductViewModel>
<!--IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>-->

@addTagHelper *, cloudscribe.Web.Pagination

@{
    ViewData["Title"] = "Index";
}

<h1>Products Catalogue</h1>


<hr />
<div>
    @Html.Partial("SearchProductPartial")
</div>

<hr />


<div class="container">
    <div class="row">
        @Html.Partial("ProductDisplayPartial", Model.Data)
    </div>

    <!--Pagination done here using Tag helper above-->
    <cs-pager cs-paging-pagenumber="Model.PageNumber" cs-paging-totalitems="Model.TotalItems" cs-paging-pagesize="Model.PageSize" cs-pagenumber-param="pageNum" asp-controller="Products" asp-action="Index" cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item" cs-pager-li-non-active-class="page-item disabled" cs-pager-link-current-class="page-link" cs-pager-link-other-class="page-link"></cs-pager>
</div>



