@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "WoodCategory";
}

<h1>WoodCategory</h1>

<hr />
<div>
    @Html.Partial("SearchProductPartial")
</div>

<hr />


<div class="container">
    <div class="row">
        @Html.Partial("ProductDisplayPartial", Model)
    </div>
</div>
